/****************************** fuentes de google fonts ******************************/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;900&display=swap');

/****************************** Encabezado ******************************/

#contenedor-header{
    position: absolute;
    top: 2rem;
}

#contenedor-titulo-menu{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10rem;
    
}

#titulo{
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    padding-left: 1rem;
    color: aliceblue;
}

#lista-menu{
    padding: 0; /* por defecto tiene un padding izquierdo de 40 */
    margin: auto;
    list-style: none;
    display: flex; /* para que las imagenes se muestren en linea */
}

.link-menu{
    margin: 0 0.7rem;
    text-decoration: none;
    color: rgb(238, 247, 221);
    font-family: 'Gabarito', cursive;
    font-weight: 400;
    font-size: 1.5rem;
}

.link-menu:hover{
    color: aqua;
}


/****************************** Contenido principal ******************************/
main{
    padding: 0.8rem;
    background-color: white;
}

.carrusel{
    width: 90%;
    border-radius: 15px;
    margin: 0 auto;/* para centrar la imagen en su contenedor*/
}

#contenedor-imagenes-animales{/* para que el contenido se pueda centrar horizontalmente */
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    margin: 4rem 0;
}

#lista-imagenes-animales{
    padding: 0;
    list-style: none;
    display: flex;/* para que las imagenes se muestren en linea */
    margin-bottom: 0;/**/
    gap: 1rem;
}

.imagen-animal{
    width: 100%;
}

#seccion-turnos{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 2rem;
    margin-bottom: 6rem;
}

#contenedor-imagen-turno{
    display: flex;
    justify-content: center;
}

#imagen-turno{
    width: 30rem;
    border-radius: .5rem;
    margin: 2rem auto;
}

#texto-turno{
    text-align: justify;
    margin-bottom: 2rem;
}

#boton-turno{
    text-decoration: none;
    padding: 1rem 0.6rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: beige;
    background-color: blueviolet;
    border-radius: 0.5rem;
    margin: 0 auto;
}

#boton-turno:hover{
    filter: brightness(150%);
}

#contenedor-perros, 
#contenedor-gatos, 
#contenedor-accesorios{
    display: flex;
    gap: 1.25rem;
}

.subtitulo-main{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

.contenedor-imagen{ /* para centrar la imagnen */
    display: flex;
    justify-content: center;
}

.imagen-servicio{
    width: 55%;
}

.descripcion{
    font-family: 'Gabarito', cursive;
    font-weight: 400;
    font-size: 1.25rem;
    color: beige;
    text-align: center;
}

.precio{
    font-family: 'Gabarito', cursive;
    font-weight: 900;
    font-size: 2rem;
    color: red;
    text-align: center;
    /* para centrar el elemento */
    display: block;
    margin: 0 auto;
}

.servicio{
    background: linear-gradient(to bottom, rgb(6, 124, 52), rgb(76, 124, 62));
    border-radius: 10px;
    padding: 1rem 0rem;
    margin-bottom: 2rem;
}

.boton{
    padding: 0.6rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: beige;
    background-color: rgb(60, 60, 192);
    border: none;
    border-radius: 0.5rem;
    display: block;/* para convertir el elemento de linea en uno de bloque */
    margin: 0 auto;/* para centrar el boton horizontalmente (funciona porque ahora es un elemento de bloque) */
}

.boton:hover{
    background-color: beige;
    color: rgb(60, 60, 192);
    border-style: 0.16rem solid rgb(60, 60, 192);
}

#seccion-mapa{
    margin-top: 5rem;
}

iframe{
    width: 100%;
    height: 25rem;
}

/****************************** Pie de pagina ******************************/
footer{
    background-color: darkslategrey;
    padding: 2rem 0.3rem;
}

.icono-footer{
    width: 2rem;
}

h3, h4{
    text-align: center;
    margin: 5px;
    color: beige;
    font-family: 'Rubik', sans-serif;
}

h3{
    font-weight: 900;
    font-size: 1.5rem;
}

h4{
    font-size: 1rem;
}

#lista-iconos-footer{
    list-style: none;/* para que desaparezca el icono(punto) de la lista */
    display: flex;/* para que los items se posicionen horizontalmente */
    justify-content: center;/* para centrar los items horizontalmente */
    padding: 0;/* para eliminar el padding-left que tiene por defecto */
    gap: 1.25rem;/* para que haya un espacio entre los items */
    margin-bottom: 3rem;
}

/* para agregar lineas horizontales a los costados de los iconos */
#lista-iconos-footer::before,
#lista-iconos-footer::after {
    content: "";
    height: 1px;
    background-color: white;
    flex-grow: 1;
    margin: auto;
}

#contenedor-info-footer{/* para ubicar los item uno al lado del otro y centrarlos horizontalmente*/
    display: flex;
    justify-content: center;
}

h5{
    margin: 0.3125rem 0.625rem;
    font-size: 0.8rem;
}

h5 a{
    color: beige;
}


/******************************     Turnos     ******************************/

/******************************      media queries       ******************************/
@media(max-width: 1024px){
    html{font-size: 14px;}
}

@media(max-width: 720px){
    html{/* para que se ajuesten las medidas rem */
        font-size: 12px;
    }

    main{
        padding: 2rem;
    }

    /******************************* footer *******************************/
    /*  para borrar las lineas horizontales a los contados de los iconos    */
    #lista-iconos-footer::before,
    #lista-iconos-footer::after{
        height: 0;
    }

}

@media(max-width: 540px){
    html{
        font-size: 10px;
    }
    /******************************* encabezado *******************************/
    
    header{
        width: 100%;
        height: 14rem;
        background-color: black;
        display: flex;
        justify-content: center;
    }

    #titulo{
        text-align: center;
    }

    #contenedor-titulo-menu{
        display: block;
    }

    #imagen-header{
        display: none;
    }

    .link-menu{
        font-size: 2rem;
    }

    /******************************* contenido principal *******************************/
    /* para que no se muestre el carrusel */
    #contenedor-carrusel{
        display: none;
    }

    #contenedor-imagenes-animales{
        margin-top: 5rem;
    }

    #seccion-turnos{
        display: block;
    }

    #imagen-turno{
        display: none;
    }

    #boton-turno,
    #texto-turno,
    .boton{
        font-size: 2rem;
    }

    #boton-turno{
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    
    /******************************* pie de pagina *******************************/
    
    .icono-footer{
        width: 4rem;
    }

    h3{
        font-size: 2rem;
    }

    h4{
        font-size: 1.5rem;
    }

    h5{
        font-size: 1rem;
    }
}

@media(max-width: 480px){
    html{
        font-size: 6px;
    }

    /******************************* encabezado *******************************/
    #contenedor-header{
        justify-content: center;
        padding: 1.5rem 0rem;
    }

    /******************************* contenido principal *******************************/

    .subtitulo-main{
        font-size: 3rem;
        margin-top: 1.5rem;
    }

    #contenedor-perros, 
    #contenedor-gatos, 
    #contenedor-accesorios{/* para que se muestre en dos columnas */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 320px){
    html{
        font-size: 4px;
    }

    /******************************* contenido principal *******************************/
    #seccion-mapa{/* para que no apezca el carrusel y el mapa */
        display: none;
    }

    #contenedor-perros, 
    #contenedor-gatos, 
    #contenedor-accesorios{
        display: block;
    }

}