
header{
    height: 10rem;
    background-color: black;
}

/********************************************** seccion seleccion **********************************************/
h2{
    text-align: center;
    margin-top: 3rem;
}

#contenedor-seleccion{
    margin: 5rem 0;
    padding: 0 10rem;
}

.seleccion{
    display: grid;
    grid-template-columns: auto auto;
    margin: 5rem 0;
    gap: 3rem;
}

.tipo-atencion{
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    margin: 2rem 0;
    color: rgb(34, 33, 33);
}

#imagen-vet-domicilio,
#imagen-clinica-vet{
    width: 100%;
    border-radius: .5rem;
    margin-bottom: 3rem;
}

.img-seleccion{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.boton-seleccion{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
    background-color: blueviolet;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    width: 100%;
}

.boton-seleccion:hover{
    filter: brightness(150%);
}



/********************************************** seccion formulario **********************************************/
#contenedor-formulario{
    display: none;
}

.tipo-formulario{
    display: flex;
    justify-content: center;
}

.subtitulo-turnos{
    margin-top: 4rem;
    text-align: center;
}

.campo-formulario{
    margin: 2rem;
}

.campo-formulario label{
    display: block;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.campo-formulario label span{
    color: red;
}

input,
textarea{
    width: 35rem;
    height: 3rem;
    border-radius: .5rem;
    font-size: 1.2rem;
}

textarea{
    height: 20rem;
}

/* para que no aparezcan los spinner en el campo telefono */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.contenedor-boton{
    display: flex;
    justify-content: space-between;
}

.boton-formulario{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    width: 8rem;
    margin: 2rem 4rem;
    cursor: pointer;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
}

#btn-enviar{
    background-color: blue;
}

#btn-limpiar{
    background-color: red;
}

.contenedor-boton-atras{
    display: flex;
    justify-content: center;
}

#btn-atras{
    background-color: rgb(7, 80, 55);
    width: 10rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
}

#btn-enviar:hover,
#btn-limpiar:hover,
#btn-atras:hover{
    filter: opacity(.6);
}



@media(max-width: 540px){
    header{
        height: 14rem;
    }
    
    #contenedor-seleccion{
        padding: 0 5rem;
    }

    .tipo-atencion{
        font-size: 2rem;
    }

    input,
    textarea{
        width: 40rem;
        font-size: 1.5rem;
    }
}